.container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.table th {
  background-color: #0044cc;
  color: white;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.table td,
.table th {
  vertical-align: middle;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}
