/* Navbar background and text color */
.navbar-custom {
  background-color: #0f6465;
  color: white;
}

/* Navbar brand image */
.navbar-brand img {
  width: 120px;
  height: 40px;
}

/* Navbar links styling */
.navbar-custom .nav-link {
  color: white !important;
  margin-left: 1rem;
}

.navbar-custom .nav-link:hover {
  color: #e0e0e0;
}

/* Button styling */
.navbar-custom .btn-custom {
  background-color: #ffe7d3;
  color: #0f6465;
  border: 1px solid #ffe7d3;
  padding: 5px 10px;
}

.navbar-custom .btn-custom:hover {
  background-color: #e0e0e0;
  color: #0f6465;
}
