.container-fluid {
  background-color: #0f6465;
  color: white;
  margin: 0;
  padding: 3rem 1rem;
}

.container-fluid h5,
.container-fluid h6 {
  color: white;
  margin-bottom: 1rem;
}

.nav-link {
  color: white !important;
  text-decoration: none;
}

.nav-link:hover {
  color: #ddd !important;
}

.list-unstyled li {
  margin-bottom: 0.5rem;
}

.form-control {
  background-color: white;
  color: black;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
.vertical-divider {
  border-left: 0.5px solid white;
  height: 100%; /* Adjust this if needed */
  margin: 0 auto;
}
