.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  color: #dc5705;
  width: 5%; /* Make the arrow area bigger to push it further from the cards */
}

.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
  background-color: #dc5705; /* Change arrow color */
  width: 50px;
  height: 50px;
}

.custom-carousel .carousel-control-prev {
  left: -60px; /* Push the left arrow further to the side */
}

.custom-carousel .carousel-control-next {
  right: -60px; /* Push the right arrow further to the side */
}
.leaflet-container {
  width: 100%;
  height: 100vh; /* Adjust height as needed */
}

.feedback-list {
  background: #dc5705;
  color: white;
  list-style-type: none;
  padding: 0;
}

.feedback-list li {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
body {
  margin: 0;
  padding: 0;
}

.custom-carousel .carousel-item {
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.custom-carousel .carousel-item .row .card {
  background-color: #dc5705;
  color: white; /* Set background color for each carousel item */
}

.custom-carousel .carousel-item .carousel-caption {
  color: white; /* Ensure text in the caption is white */
}
.feedback-list {
  list-style-type: none;
  padding: 0;
}

.feedback-list li {
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 20px;
}
.carousel-indicators {
  position: relative;
  justify-content: center; /* Center the indicators */
}

.carousel-indicators button {
  background-color: #093358; /* Default color for inactive indicators */
}

.carousel-indicators .active {
  background-color: #007bff; /* Color for active indicator */
}

.card {
  background: #dc5705;
  color: white;
  margin: 10px 0; /* Add margin to cards */
}

.custom-carousel {
  margin-bottom: 20px; /* Add spacing below the carousel */
}
