.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  color: #dac6ab;
  width: 5%; /* Make the arrow area bigger to push it further from the cards */
}

.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
  background-color: #dac6ab; /* Change arrow color */
  width: 50px;
  height: 50px;
}

.custom-carousel .carousel-control-prev {
  left: -60px; /* Push the left arrow further to the side */
}

.custom-carousel .carousel-control-next {
  right: -60px; /* Push the right arrow further to the side */
}
