/* Remove the border and background on focus for the toggle button */
.custom-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* Remove any unwanted background */
.custom-toggler {
  background-color: transparent;
}

/* Hamburger and close icons styling */
.custom-hamburger-icon,
.custom-close-icon {
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar background and text color */
.navbar-custom {
  background-color: #0f6465;
  color: white;
}

.navbar-custom .navbar-toggler {
  border: none;
  color: white;
}

.navbar-custom .nav-link {
  color: white !important;
  margin-left: 1rem;
}

.navbar-custom .btn-custom {
  background-color: white;
  color: #0f6465;
  border: none;
}
/* .navbar-collapse {
  align-items: flex-start;
} */

@media (max-width: 992px) {
  /* Target screens where the navbar collapses */
  .navbar-collapse {
    padding: 0rem 1rem;
  }

  .nav-link {
    text-align: left; /* Left-align navigation links */
    margin: 0.5rem 0; /* Add space between navigation items */
  }

  .btn-custom {
    width: 100%; /* Set button width to 50% */
    font-size: 1rem; /* Adjust font size for better readability */
    margin: 0.5rem 0; /* Add space between buttons */
  }

  .dropdown-menu {
    text-align: left; /* Align dropdown items to the left */
  }
}
