.container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.table th {
  color: black;
  border-bottom: 1px solid #D2691E;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.table td,
.table th {
  vertical-align: middle;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}
.ngo-container {
  padding: 2rem;
}

.ngo-title {
  color: #D2691E;
  margin-bottom: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}